<% if (page.comments){ %>
    <section id="comment">
    <!--   <h1 class="title"><%= __('comment') %></h1> -->
    <% if (theme.comment_provider == 'wumii'){%>
        <script type="text/javascript" id="wumiiComments">
            var wumiiPermaLink = "<%= page.permalink %>"; //请用代码生成文章永久的链接
            var wumiiTitle = "<%= page.title %>"; //请用代码生成文章标题
            var wumiiSitePrefix = "<%= theme.wumii_siteprefix%>"; 
            var wumiiCommentParams = "&pf=JAVASCRIPT";
        </script>
        <script type="text/javascript" src="http://widget.wumii.cn/ext/cw/widget"></script>
      <% } %>
    </section>
<% } %>
