<% if (page.comments){ %>
<section id="comment">
<!--   <h1 class="title"><%= __('comment') %></h1> -->

<% if(theme.comment_provider == 'duoshuo'){ %>
    <%- partial('duoshuo')%>
  <% } else if(theme.comment_provider == 'wumii'){%>
    <%- partial('wumiicomments')%>
  <% } %>
</section>
<% } %>