<section id = "relate">
	<% if (theme.relate_provider == 'baidu_tuijian'){ %>
	  <%- partial('baidu_tuijian') %>
	<% } else if(theme.relate_provider == 'wumii'){%>
	  <%- partial('wumii') %>
	<% } %>	
</section>

