 <div class="search">
  <form action="//baidu.com/s" method="get" accept-charset="utf-8">
    <input type="search" name="wd"results="0" placeholder="<%= __('search') %>">
    <input type="hidden" name="wd" value="site:<%- config.url.replace(/^https?:\/\//, '') %>">
  </form>
</div> 
