*
  margin 0
  padding 0

body
  background color-background
  color color-font
  font-family font-default
  font-size 14px
  text-shadow 0 0 1px transparent
  @media screen and (max-width: 800px)
    font-size 0.9em

h1, h2, h3, h4, h5, h6
  font-family font-title

h1
  font-size 2em
  @media screen and (max-width: 800px)
    font-size 1.5em

h2
  font-size 1.8em

h3
  font-size 1.6em
  @media screen and (max-width: 800px)
    font-size 1.2em

h4
  font-size 1.4em
  @media screen and (max-width: 800px)
    font-size 1.1em

h5
  font-size 1.3em

h6
  font-size 1.1em

p
  font-size 1em

a
  text-decoration none
  color color-link
  &:hover
    text-decoration underline

.alignleft
  float left

.alignright
  float right

.clearfix
  clearfix()

.inner
  width 1060px
  margin 0 auto
  @media screen and (max-width: 1060px)
    width 100%

#main-col
  width 770px
  @media screen and (max-width: 1060px)
    width 100%
    margin-right -300px
  @media screen and (max-width: 800px)
    margin-right 0
    float none

#wrapper
  @media screen and (max-width: 1060px)
    margin-right 300px
  @media screen and (max-width: 800px)
    margin-right 0

#sidebar
  width 280px
  line-height 1.8em
  @media screen and (max-width: 1060px)
    margin 0 10px
  @media screen and (max-width: 800px)
    float none
    width 95%
    margin 0 auto