.archive-title
  color color-meta
  font-weight normal
  margin-bottom 30px
  text-shadow 0 0 1px #fff
  &:before
    font-family font-icon
    content '\f073'
    padding-right 15px

  &.tag
    &:before
      content '\f02b'

  &.category
    &:before
      content '\f07b'

.archive
  box-shadow 1px 2px 10px color-border
  border-bottom 1px solid color-border
  margin-bottom 2em
  padding-bottom 1em
  article
    box-shadow none
    .post-content
      margin-bottom 0


.archive-tags
    color color-meta
    font-size 0.9em
    line-height 16px
    position relative
    min-height 16px
    a
      color color-meta
      &:hover
        color color-link
        text-decoration none
      &:before
        font 1.1em font-icon
        padding-right 10px
        vertical-align middle

    .categories, .tags
      position relative
      padding-left 25px
      margin 5px 0
      &:before
        position absolute
        font 1.1em font-icon

    .categories
      &:before
        content '\f07b'
        top 2px
        left 1px

    .tags
      &:before
        content '\f02b'
        top 3px
        left 2px