#footer
  color color-meta
  margin-bottom 50px
  font 0.9em/1.6 font-title
  text-shadow 0 0 1px #fff

#toTop
  width 40px
  height 64px
  background rgba(85, 85, 85, 0.3) none repeat scroll 0% 0%
  position fixed
  bottom 20px
  right 20px
  text-align center
  cursor pointer
  display block
  a
    display block
    width 40px
    height 32px
    font-size 26px
    line-height 32px
    color #FFF
    background transparent none repeat scroll 0% 0%
    text-decoration none
   a:hover
     background-color #3D5998