#footer
  color color-meta
  margin-bottom 50px
  margin-top 50px
  font 0.9em/1.6 font-title
  text-shadow 0 0 1px #fff

#toTop
  width 30px
  height 50px
  background rgba(85, 85, 85, 0.3) none repeat scroll 0% 0%
  position fixed
  bottom 1%
  right 3%
  text-align center
  cursor pointer
  display block
  a
    display block
    width 30px
    height 25px
    font-size 18px
    line-height 25px
    color #FFF
    background transparent none repeat scroll 0% 0%
    text-decoration none
   a:hover
     background-color #258FB8