.gallery-img{
	max-width: 365px;
	float: left;
	margin: 5px;
	@media screen and (max-width: 1260px) {
		max-width: 260px;
	}
	@media screen and (max-width: 900px) {
		max-width: 180px;
	}
	@media screen and (max-width: 400px) {
		max-width: 260px;
		position: relative;
		left: -15px;
	}
}

.gallery{
	padding: 0 30px 30px 30px;
	text-align: justify;
	line-height: 1.6;
}

.gallery blockquote{
      font-style:italic; 
      font-family:inherit; 
      font-size:inherit; 
      padding:10px 15px; 
      border-top:1px solid #ddd; 
      border-bottom:1px solid #ddd; 
      background-color:rgba(55, 133, 191, 0.10); 
      border-left:3px solid #3785BF; 
      box-shadow:2px 2px 5px #aaaaaa; 
      margin-bottom: 20px;
}

.gallery h1, .gallery h2{
	border-bottom:1px solid color-border;
	margin-top: 20px;
	margin-bottom: 5px;
	clear:both;
}


