#header
  text-shadow 0 0 1px #fff
  margin-bottom 25px
  
  .avatar
    background-image url(/assets/img/avatar/avatar.png)
    height 5em
    float left
    margin 0 0.8em
    width 5em
    border-radius 50%

  .header-div
    a
      font-family mistral 
      font-size 1.3em

  .header-content
    padding 2em 0
    @media screen and (max-width: 640px)
      display none
    .col-one
      width 100%
      img
        border-radius 50%
        height 5em
        float left
        margin 0 0.8em
        transition height 0.3s, transform 1s
        @media screen and (max-width: 320px)
          text-align center
        &:hover
          height 7em
          transform rotate(360deg)
          -ms-transform rotate(360deg)  /* IE 9 */
          -webkit-transform rotate(360deg) /* Safari and Chrome */
          -o-transform rotate(360deg)    /* Opera */
          -moz-transform rotate(360deg)    /* Firefox */

    .col-two
      margin-left -50%
      img
        height 5em
        @media screen and (max-width: 640px)
          display none

  .header-nav
    border-top 1px solid #eee
    border-bottom 1px solid #eee
    @media screen and (max-width: 640px)
      background-color #333
      border none
  
  .header-nav-content
    ul
      list-style none
      display block
      li
        display inline-block
        line-height 3em
        &:hover
          background-color #eee
        @media screen and (max-width: 640px)
          &:hover
            background-color #333
          a
            color #fff
            font-size 0.8em

  #main-nav
    font-family font-title
    font-size 1.1em
    @media screen and (max-width: 640px)
      float none
      text-align center
    
  #sub-nav
    font-family font-title
    font-size 1.1em
    @media screen and (max-width: 640px)
      display none

  a
    color #999
    margin 0 0.5em
    &:hover
      color color-link
      font-style italic
      text-decoration none

  h1
    font-weight normal
    font-size 2.5em
    line-height 1

  h2
    font-weight normal
    font-size 0.9em
    line-height 1
    margin-top 10px
  


